body{
    font-family: 'Poppins', sans-serif;
    background: #FFFBFA;
    color: #2E3453;
}

/* PROYECTOS */
.proyectos{
    padding: 80px 10%;
}

.lbl-titulo-port{
    font-size: 40px;
    color: #2E3453;
    font-weight: 700;
}

.proyectos h2{
    color: #344FA0;
    margin-bottom: 40px;
}

.grid-proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card-proyecto{
    background: white;
    border-radius: 16px;
    overflow: hidden;
    text-decoration: none;
    color: #2E3453;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    position: relative;
}

.card-proyecto:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.card-proyecto .numero{
    position: absolute;
    top: 10px;
    left: 10px;
    background: #EA5D4C;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 12px;
}

.card-proyecto .img img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-proyecto h3{
    padding: 10px 15px 0;
    color: #2E3453;
}

.card-proyecto p{
    padding: 0 15px 15px;
    color: #344FA0;
}

